<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/home_page.css">
        <title>HOME</title>
    </head>
    <body>
        <nav>
            <div><a href="/" id="home">HOME</a></div>
            <div><a href="/logout" id="logout">LOGOUT</a></div>
        </nav>
        <form method="POST">
            <div><h1>NOTES</h1></div>
            <div>
            <input type="textarea" name="note" id="note" placeholder="NOTE">
            </div>
            <div>
                <button type="submit">SUBMIT</button>
            </div>
            <ul>
                {% for note in user.NOTES %}
                <li style="margin-bottom: 7px;">{{note.DATA}}
                    <button type="button" style="width: 20px;" onclick="deleteNote('{{note.id}}')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </form>
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>